
head
  meta(charset="UTF-8")
  title My Site
  script(src="../build/bundle.js", type="text/javascript")
  link(href='../stylesheets/style.css',rel='stylesheet')
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',rel='stylesheet')