html
	include components/head.pug
	body
		form(action="/api/zone" method="post")
			input(type="text" name="name" placeholder="Name")
			br
			br
			input(type="text" name="zipCodes" placeholder="Zip Codes")
			br
			br
			input(type="submit" value="Create Zone" )
		include components/foot.pug
					
